@import url(sanitize.css);

body{
    background-color: #75a1f3;/*背景色*/
    padding: 10px;/*要素内の余白*/
    font-size: 14px;/*文字サイズ*/
    color: #666;/*文字色*/
}



.inf h1{
    font-size: 18px;
    margin: 0 10px 10px 0;
    float: left;
}

.inf .type{
    display: inline;
    background-color: #E35A4D;
    padding: 3px 5px;
    font-size: 80%;
    color: #FFF;
}



.inf_text img{
    float: left;
    margin: 0 10px 10px 0px;
}

.inf_text{
    /* border: 1px solid black; */
    padding: 5px;
    margin: 0 0 0 10px;
    clear: left;
}

.container{
    width: auto;/*幅*/
    margin: 10px auto;/*余白*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);/*影付け*/
}

header{
    background-color: #422814;
    padding: 10px;
    color: #fff;
}

header h1{
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.list_item{
    /* clear: left; */
    /* border: 1px solid black; */
}

.list_item h2{
    clear: left;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    background-color: #e6e4dd;
    padding: 5px 10px;
}

.list_item ol{
    padding: 0;
    margin: 0;
    list-style: decimal inside;/*スタイルを算用数字*/
}

.list_item li{
    border-bottom: 1px solid #ccc;
    width: 50%;
    float: left;
    padding: 5px 10px;
}

.content{
    background-color: #fff;
    padding: 20px;
}

.clearfix:after{
    content:" "; 
    display:table;
    clear:both;
}

